@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
  font-family: 'Poiret One', sans-serif;
  margin: auto;
  width: 100%;
  max-width: 900px;
  position: relative;

}

h1 {
  text-align: center;
  color: black;
  font-size: 36px;
}

h2 {
  margin: 30px auto;
  text-align: center;
  color: black;
}

p {
  margin: 30px auto;
  text-align: center;
  color: grey;  
}

span {
  color: #b22222;
}

a {
  color: #9932cc;
  text-decoration: none;  
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none; 
}

p.footer {
  font-size: 14px;
  color: #000000;
  font-style: italic;   
}

nav li {
  display: inline;
  padding: 15px;
}

nav ul {
  text-align: center;
  font-size: 18px;
  margin: 25px
}

.social img {
  width: 30px;
}

#image-grid img {
  margin: 5px auto;
  width: 30%;
}

header {
  width: 100%;
  max-width: 900px;
  position: relative;
}

header ul {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  #image-grid img {
    width: 100%;
  }
}
